
build/
cmake-build-debug/
cmake-build-release/


*.exe
*.dll
*.so
*.dylib


*.o
*.obj
*.tmp


.vscode/
.vs/
.DS_Store
*.swp
*~


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile


/sfml-ext-lib/


/vendor/
/external/


*.sdf
*.suo
*.user
*.userprefs
*.sublime-workspace


.idea/
*.iml


*.code-workspace

.highscores.txt
.env